body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.square {
    flex: 1 0 auto;
    border: 0;
    margin: 0;
}

button {
    border: 0;
    background-color: darkblue;
    color: white;
    font-size:  24px;
    padding: 8px;
    border-radius: 8px;
}